<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= articles_path %>">Wikinimous</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="<%= new_article_path %>">New Article</a></li>
        <li><a href="<%= articles_path %>">Back</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="banner header">
</div>
<div class="arrows">
  <ul class="page-arrows pager">
    <li class="previous disabled"><a href="<%= article_path(@article.id - 1) %>">&larr; Older</a></li>
    <li class="next"><a href="<%= article_path(@article.id + 1) %>">Newer &rarr;</a></li>
  </ul>
  <div class="posts">
    <article class="post">
      <h1><%= @article.title %></h1>
      <p><%= link_to "Edit", edit_article_path %></p>
      <div class="entry">
        <%= @article.content %>
      </div>
      <br>
      <div class="date">
        <p>Written on <%= @article.created_at %></p>
        <p>Last Update <%= @article.updated_at %></p>
      </div>
    </article>
  </div>
</div>
<div class="container">

</div>